@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "HK";
    src: url("Geist-Light.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "HK";
}